.toggle-playlist-enter-active, .toggle-playlist-leave-active {
  transition: 1s ease-in-out;
  left: 0;
}
.toggle-playlist-enter, .toggle-playlist-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  left: -100%;
}

.player--show-enter-active, .player--show-leave-active {
  transition: all 1s ease-in-out;
  top: 35px;
}
.player--show-enter, .player--show-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  transition: all 1s ease-in-out;
  top: -100%;
}


@keyframes buffer-items-rotate{
  from {
    transform: translate(-50%, -50%) rotate(-0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes bg-fade-in {
  from {
    left: 0;
    //opacity: 1;
  }
  50% {
    left: 100%;
    //opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}
