$text-color: #fff;
//$vue-slider-color: #fbff04;
$vue-slider-color: rgb(250, 153, 82);
$active: rgb(251, 45, 145);

$color1: #401b7a;
$color2: #8a215a;

.active-button {
  background: $active;
}
.background {
  &-gradient {
    background: linear-gradient(to bottom, $color1, $color2);
    width: 100%;
    height: 100vh;
    position: absolute;
    min-height: 700px;

  }

  &-image {
    background-image: url("../assets/images/header3-old.jpg");
    //filter: blur(6px);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    position: absolute;
    opacity: .1;
  }
}

section.music {
  position: relative;
  color: $text-color;
  font-size: 1.2vmax;

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 7.5em;
    height: 5.5em;
    align-items: center;

    .site-logo {
      flex-basis: 10em;
    }

    &-link {
      a {
        color: $text-color;
      }
    }
    &-search {
      flex-basis: 22em;
      &__input {
        border: none;
        height: 3em;
        padding: 0 2em;
        width: 100%;
        border-radius: 2em;
        background: transparent;
        box-shadow: 0 12px 20px 6px rgba(0,0,0, .3);
      }
    }

    .user-block {
      &__photo{
        display: inline-block;

        img {
          width: 2.5em;
          border-radius: 100%;
        }
      }

      &__email{
        color: $text-color;
        text-decoration: none;
      }
    }
  }

  .left-panel {
    height: 100vh;
    position: fixed;
    background: $color2;
    top: 0;
    z-index: 999;

    .playlist {
      width: 35em;
      padding: .2em;
      overflow: auto;
      height: 100%;

      &__item {
        display: flex;
        align-items: center;
        padding: .3em 0;

        &.active {
          color: rgb(251, 45, 145);
        }
      }

      .nav-link {
        padding: .2em .5em;
      }
    }

    &__button_show_hide {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -3em;
      width: 2.7em;
      height: 2.7em;
      transition: all 1s ease-out;
      border: 1px solid;
      border-radius: 100%;
      animation: changeBackShadow 2s ease-in-out infinite alternate;
    }

    &__button_arrow {
      position: absolute;
      background: url("../assets/icons/right-arrow.svg") left center no-repeat / contain;
      width: 1.7em;
      height: 1.7em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .player {
    padding: 0 7.5em;
    &__track-info {
      display: flex;
      justify-content: space-between;
      margin-top: 2em;
    }

    .track-info{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .track-picture {
      display: flex;

      img {
        object-fit: contain;
        object-position: bottom right;
        //object-position: top center;
        filter: drop-shadow(0px 1em .7em rgba(0,0,0,.4));
        width: 16em;
        height: 16em;
      }
    }

    &__track-current-time {
      font-size: .8em;
      opacity: .8;
    }

    &__track-performer {
      font-size: 5em;
      font-weight: 700;
    }

    &__track-full-name {
      font-size: 1.5em;

      span {
        text-transform: uppercase;
      }
    }

    &__progress-bar {
      display: flex;
      position: relative;
      height: 7em;
      margin-top: 2em;

      .moveTime {
        position: absolute;
        margin-left: .2em;
        bottom: 0;
      }
    }

    &__control-panel {
      display: flex;
      justify-content: space-between;
      margin-top: 2em;

      &_left-block {
        display: flex;
        align-items: center;

        .play-pause-track {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid $text-color;
          width: 4em;
          height: 4em;
          border-radius: 100%;

          .icons {
            &--play-track {
            }
          }
        }
      }

      &_track-info {
        margin-left: 1em;
        font-size: .8em;

      }

      &_track-performer {
        span {
          text-transform: uppercase;
          font-weight: 700;
        }
      }

      &_right-block {
        display: flex;
        align-items: center;

        .btn-circle {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $text-color;
          width: 2.5em;
          height: 2.5em;
          border-radius: 100%;
          margin: 0 .5em;
        }

        .input-range {
          display: flex;
          height: 6em;
          position: absolute;
          bottom: 3em;
          width: 2.5em;
          padding: .5em;
          justify-content: center;
          left: 50%;
          box-sizing: content-box;
          transform: translateX(-50%);

          .vue-slider-process {
            background-color: $vue-slider-color;
          }
          .vue-slider-dot-tooltip-inner {
            border-color: $vue-slider-color;
            background-color: $vue-slider-color;
          }

        }
        .volume {
          position: relative;
          display: flex;
        }
      }
    }

  }
}

.icons {
  width: 1em;
  height: 1em;

  &--play-track {
    background: url("../assets/icons/play-button.svg") center center no-repeat / contain;
    margin-left: .2em;

  }
  &--pause-track {
    background: url("../assets/icons/pause.svg") center center no-repeat / contain;
  }

  &--prev-track {
    background: url("../assets/icons/next.svg") center center no-repeat / contain;
    transform: rotate(180deg);
    margin-left: -.2em;
  }

  &--next-track {
    background: url("../assets/icons/next.svg") center center no-repeat / contain;
    margin-left: .2em;
  }
  &--speaker-mute {
    background: url("../assets/icons/speaker-mute.svg") center center no-repeat / contain;
    margin-left: .2em;
  }
  &--speaker-50 {
    background: url("../assets/icons/speaker-50.svg") center center no-repeat / contain;
    margin-left: .2em;
  }
  &--speaker-max {
    background: url("../assets/icons/speaker-max.svg") center center no-repeat / contain;
    margin-left: .2em;
  }
  &--shuffle {
    background: url("../assets/icons/shuffle.svg") center center no-repeat / contain;
    margin-left: .2em;
  }
  &--replay-arrow {
    background: url("../assets/icons/replay-arrow.svg") center center no-repeat / contain;
    margin-left: .2em;
  }
}
