$color-dark: #52373c;
$color-blue-dark: #1b232e;
$color-crimson: #d63d40;
$color-crimson-dark: #cb2e35;
$color-orange: #ec5633;
$white: #fff;
$height-top-menu: calc(100vh - 35px);

.download-cover {
  position: absolute;
  right: 45px;
  top: 65px;
}







.player-page {
  display: grid;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  grid-template-columns: 1fr 50px 1.5fr;
        grid-template-rows: auto 1fr;
  grid-template-areas: "top-panel top-panel top-panel"
                        "playlist covers covers";

  &__top-panel {
    grid-area: top-panel;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background: $color-dark;
    z-index: 99;
    color: $white;
    height: 35px;
    box-shadow: 0 4px 20px 0 $color-blue-dark;

    &:hover .player{
      transform: translateY(0);
    }

    .block__right {
      display: flex;
      align-items: center;

      .user__photo {
        width: 30px;
        height: 30px;
        margin: 0 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
    .log__out {
      display: flex;
      align-items: center;
    }
    .log__out--icon {
      background: url("../assets/player/24069.svg");
      width: 25px;
      height: 25px;
      background-size: contain;
      background-repeat: no-repeat;

    }
  }
  &__player {
    background: $color-crimson;
    box-shadow: 4px 4px 10px 0 #584f536b;
    padding: 10px 25px 0 25px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  &__cover{
    grid-area: covers;
    position: relative;
    overflow: hidden;

    .cover {
      background-size: cover;
      background-position: center center;

      &__buffer {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: red;
        border-radius: 50%;
        display: flex;
        align-items: center;

        img {
          width: 100%;
        }
      }

      &__visualizer {
        position: relative;
        width: 200px;
        height: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-30deg);

        &-item {
          position: absolute;
          top: 100px;
          left: 99px;
          height: 19px;
          width: 3px;
          background-color: white;
          transform-origin: top;
          //background-color:  transparent;
        }
      }
    }
  }
  &__stars {
    position: relative;
    grid-area: starsLiquid;
    grid-row: 2;
    grid-column: 2 / span 3;
  }
  &__toggle {
    grid-row: 2;
    grid-column: 2;
    z-index: 1;
  }

  &__playlist {
    grid-area: playlist;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    background: #1b232e;
    transition: .7s ease-in-out;
    box-shadow: 4px 0px 20px 0px $color-blue-dark;
  }

  .control{
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
  }
  .repeat{
    margin-right: 5px;
  }
  .block-cen{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .block-rig{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .block-lef{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .marplay{
    margin-left: 7px;
  }
  .marpause{
    //margin-left: 4px;
  }
  .d-none--cus{
    display: none;
  }
  .mute {
    width: 18px;
    display: flex;
    align-items: center;
  }
  .pause,.prev,.next,.play-pause,.mute,.volume{
    margin:0 5px 0 5px;
  }
  .prev {
    margin-right: 15px;
  }
  .next {
    margin-left: 15px;
  }
  .pause,.play-pause {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    width: 58px;
    height: 58px;
    background: $color-orange;
    border-radius: 100%;
    border: solid 1px $color-orange;
  }
  .nameSong{
    padding: 10px 0 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  .player {


  }
  .top_nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .block__visualizer{
    display: flex;
    margin-bottom: 10px;
    transition: all 1s;
    justify-content: center;
    overflow: hidden;
  }
  .settings{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .pos{
    display: flex;
    align-items: center
  }
  .volume {
    -webkit-appearance: none;
    -moz-appearance: scale-horizontal;
    border-radius: 2px;
    height: 4px;
    outline: none;
    border: 1px solid #D4D4D4;
    margin-left: 5px;
  }
  .volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:17px;
    height:17px;
    background: $color-orange;
    border-radius:20px;
    cursor:pointer;
    transition:.1s;
  }
  .timetobar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 35px;
    position: relative;
    transition: all 1s;
  }
  .range{
    background: #383a4c;
    width: 100%;
    height: 7px;
    display: flex;
  }
  .progress{
    background: $color-orange;
    width: 0;
    height: 7px;
    position: absolute;
    border-radius: 0;

  }
  .loadSongPr {
    background: red;
    width: 100%;
    height: 7px;
    position: absolute;
    left: -100%;
  }
  .post{
    display: block;
    padding: 10px;
    padding-left: 0px;
    color: #fff;
  }
  .time{
    width: 52px;
    margin-left: 5px;
    margin-right: 90px;
  }

  .setTime{
    display: none;
    position: absolute;
    top: -10px;
    color: white;
    background: #72e6cf;
    padding: 3px;
    border-radius: 2px;


  }


  .visualizer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 128px;


    &__item {
      width: 2px;
      //transition: 0.2s linear;
      margin-left: 0;
      background: linear-gradient(0deg, rgb(56, 0, 253) -50%,
              rgb(255, 0, 146) 40%,
              yellow 65%,
              gold 90%,
              red 100%);
    }

  }

  .click{
    color: #383a4c;
  }
  #download{
    font-size: 1rem;
    background: #72e6cf;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #383a4c;
  }
  #button{
    font: 400 13.3333px Arial;
    font-size: 1rem;
    background: #72e6cf;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #383a4c;

  }
  .form{
    border-bottom: 1px solid #72e6cf;
    padding: 10px;
  }
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #72e6cf;
    .post{
      display: flex;
      width: calc(100% - 50px);
      overflow: hidden;

      .list-play{
        margin-right: 10px;
      }

      .song-name {
        white-space: nowrap;
      }
    }
    .controls-song{
      display: flex;
      color: #72e6cf;
      font-size: 1rem;

      .delete{
        display: flex;
        cursor: pointer;
        padding: 7px;
      }

      .download{
        padding: 5px;
        color: #72e6cf;
      }
    }

    .activeCurrent {
      color: red;

      .fa-play {
        display: none !important;
      }

      .fa-pause {
        display: inline-flex !important;
      }
    }

    .activeCurrentPaused {
      .fa-play {
        display: inline-flex !important;
      }

      .fa-pause {
        display: none !important;
      }
    }
  }
  .scroll{
    background-color: #202232;
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    padding: 0 10px 10px;
    transition: top,padding,background-color  1s ease;
  }
  #add{
    padding: 5px;
    background-color: #72e6cf;
    border: none;
    outline: none;
  }
  .form-add{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #e67297;
    transition: 1s all;
    z-index: 2;
    input{
      border: none;
      width: 350px;
      height: 30px;
      font-size: 14px;
      border-radius: 2px;
      display: block;
      margin: 10px 0;
    }
    button{
      padding: 5px;
      background-color: #72e6cf;
      border: none;
      outline: none;
      margin-bottom: 10px;
    }
  }
  .over{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: none;
    z-index: 1;
  }

  .page-music {
    .right-panel {
      position: fixed;
      top: 0;
      right: 0;
      width: 50px;
      height: 100vh;
      transition: 0.5s;
      background: red;

      &:hover {
        width: 300px;
      }
    }
  }

}
.canvas {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.button-open-play-list {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
  z-index: 999;

  &__right {

  }

  &__left {

  }
}
